/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h2 {
    color:#787878;
    font-size: 2rem;
    margin: 30px 0;
}
h2.blanco {
    color:#fff;
}

header a.inicio {
    color:#fff;
    font-size: 1.6rem;
}

header a.contacto {
    color:#fff;
    font-size: 2.6rem;
}

header a.equipo {
    color:#fff;
    font-size: 2.6rem;
}

header a.servicios {
    color:#fff;
    font-size: 2.6rem;
}

header a.nosotros {
    color:#fff;
    font-size: 2.6rem;
}




header nav a, 
header nav a:hover {
    color:#fff;
}

li.activo {
    border-bottom:3px solid #fff;
}


.row p {
    font-size: 80%;

}



.socialperfil{
    font-size: 200%;

}

.social {
    font-size: 260%;

}


.top-bar {
    background-color: transparent;
    height: 4.2rem;
    line-height: 4.2rem;
    transition: all .3s ease;
      
}

.top-bar.active {
    background-color: #4f5962;
    transition: all .3s ease;
}


.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: transparent;
    text-transform: uppercase;
    line-height: 30px;
    

}
section.destacada {
    position:relative;
}
div.pattern {
    position:absolute;
    top: 0; left:0;
    width:100%;
    height:100%;
    background-image: url(../img/pattern.png);
    z-index: 10;
}

section.destacada .contenido {
    top:50%;
    left:0;
    width:100%;
    position:absolute;
    z-index: 20;
}

section.aplicaciones p {
    font-size: 125%;

}






section.destacada .contenido h1 {
    padding:30px 50px;
    border: 1px solid #fff;
    color:#fff;
    font-size: 2rem;
    text-transform: uppercase;
    margin:0 auto;
    width:60%;
}

section.destacada .button {
    position:relative;
    margin-top: 30px;
    background-color: #67727c;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 50px;
}


section.agencia {
    background-color: #ebeeed;
    padding:10px;
}

section.agencia .borde {
    border: 1px solid #aeb4b7;
}

section.agencia p {
    margin-bottom: 40px;
}

section.servicios {
    background-color: #ebeeed;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    padding-top: 30px;
    position:relative;
}
section.servicios small {
    font-style: italic;
}

section.contacto {
    background-color: #4f5962;
    padding:10px;
    color:#fff;
}
section.contacto .borde {
    border:1px solid #697279;
}

section.contacto .button {
    background-color: #67727c;
    border: 2px solid #fff;
    color:#fff;
    padding:15px 50px;
}


.reveal-modal-bg {
    position:fixed;
}


footer {
    background-color: #2d3235;
    padding-top: 30px;
}
footer nav a, 
footer nav a:hover {
    color:#fff;
}

footer hr {
    display:block;
    height:1px;
    border:0;
    border-top: 1px solid #595d60;
    margin: 1rem 0;
    padding:0;
}
footer p {
    color:#fff;
}

footer nav.sociales li a {
    font-size: 0;
    background-image: url(../img/sociales.svg);
    background-repeat: no-repeat;
    padding:13px 17px;
}

footer a[href="http://facebook.com"] {
    background-position: 0px 0px;
}
footer a[href="http://twitter.com"] {
    background-position: -47px 0px;
}
footer a[href="http://pinterest.com"] {
    background-position: -92px 0px;
}
footer a[href="http://flickr.com"] {
    background-position: -141px 0px;
}

/* INTERIORES */

section.informacion {
    padding:30px 0;
}

/** NOSOTROS **/
.accordion .accordion-navigation > a,
.accordion .accordion-navigation > a:hover {
        background-color: #4f5962;
        color:#fff;
        font-size: 1.4rem;
        margin-bottom: 2px;
        padding: .3rem 1rem;
}

.accordion .accordion-navigation.active > a {
    background-color: #4f5962;
}

.accordion .accordion-navigation > .content {
    border: 1px solid #a9a9a9;
}


/** Equipo **/

section.equipo .panel {
    border:none;
    background-color: #ededed;
    margin-bottom: .15rem;
}

section.equipo p.nombre {
    color: #ababab;
    font-size: 1.4rem;
}
section.equipo .panel small {
    font-size: .8rem;
    margin-bottom: 30px;
    display:block;
}
section.equipo .panel p {
    font-size: .8rem;
}

section.equipo .columns nav {
    background-color: #ededed;
}



/** REDES SOCIALES EQUIPO**/

nav ul.sociales {
    padding:11px;
}
nav ul.inline-list {
    margin-left: 0;
}

nav ul.sociales > li {
    margin-left: .9rem;
}

nav ul.sociales li a {
    font-size: 0;
    background-image: url(../img/sociales.svg);
    background-repeat: no-repeat;
    padding:13px 17px;
}

nav ul.sociales a[href="facebook.com"] {
        background-position: 0px -47px;
}
 
 nav ul.sociales a[href="twitter.com"] {
        background-position: -47px -47px;
}
nav ul.sociales a[href="pinterest.com"] {
        background-position: -92px -47px;
}
nav ul.sociales a[href="github.com"] {
        background-position: -141px -47px;
}

/**CONTACTO**/

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: #ededed;
    box-shadow:none;
    border:0;
}

form .button {
    background-color: #323538;
    text-transform: uppercase;
}

form .button:hover {
    background-color: #ededed;
    color:#000000;
}

form div.check {
    padding-top: 10px!important;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* max-width 640px, mobile-only styles*/
@media only screen and (max-width: 40em) { 
            .top-bar {
                background-color: #4f5962;
                height:2.8rem;
                line-height: 2.8rem;
                transition: none;
            }

            .top-bar.active {
                background-color: #4f5962;
                transition: none;
            }
            .top-bar.expanded .title-area,
            .top-bar-section ul li,
            .top-bar-section li:not(.has-form) a:not(.button),
            .top-bar-section li:not(.has-form) a:not(.button):hover {
                background-color: #4f5962;
            }
            [class*="block-grid-"] {
                 margin: 0;
            }  

            li.activo,
            .top-bar-section li.activo:not(.has-form) a:not(.button),
            .top-bar-section li.activo:not(.has-form) a:not(.button):hover  {
                border:none;
                background-color: #353E45!important;
            }
            section.destacada .contenido {
                top: 20px;
            }
            section.destacada .contenido h1 {
                font-size: 1.4rem;
                width:80%;
            }

            #nosotros .informacion img {
                    margin-top: 20px;
            }
            .informacion p {
                margin-left:5px;
                margin-right:5px;
            }
} 

 /* Medium screens */
 /* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { 
    section.destacada .contenido {
        top: 30%;
    }
    .f-topbar-fixed {
        padding-top: 0!important;
    }
    [class*="block-grid-"] {
         margin: 0;
    }
} 

 /* Large screens */
  /* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { 
    section.destacada .contenido {
        top: 40%;
    }
}

 /* XLarge screens */
 /* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) { } 

 /* XXLarge screens */
  /* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) { }

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}